@import "../../index.scss";

.form_container {
  width: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.general_form {
  @include general_form;
}

.errors_container {
  // background-color: red;
  p {
    color: red;
  }
}
