@import '../../index.scss';

.form_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.general_form {
  @include general_form;
  margin: 100px;
}

.errors_container {
  p {
    color: red;
  }
}
